[submodule "src/Intro CS/Introduction-to-Computer-Science-edX"]
	path = src/Intro CS/Introduction-to-Computer-Science-edX
	url = https://github.com/MantiMantilla/Introduction-to-Computer-Science-edX
[submodule "src/Intro CS/Py4E"]
	path = src/Intro CS/Py4E
	url = https://github.com/MantiMantilla/Py4E
[submodule "src/Core CS/MLOps_Specialization/DevOps_DataOps_MLOps_Coursera"]
	path = src/Core CS/MLOps_Specialization/DevOps_DataOps_MLOps_Coursera
	url = git@github.com:MantiMantilla/DevOps_DataOps_MLOps_Coursera
[submodule "src/Core CS/Core_Programming/Systematic-Progam-Design"]
	path = src/Core CS/Core_Programming/Systematic-Progam-Design
	url = git@github.com:MantiMantilla/Systematic-Progam-Design
